<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="~{layout/default_layout}"
>    
<head>
	<meta charset="UTF-8" />
	<title th:text="${status}">500</title>
</head>

      <!-- Main Content -->
      <div id="content" layout:fragment="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- 404 Error Text -->
          <div class="text-center">
            <div class="error mx-auto" th:data-text="${status}" th:text="${status}"></div>
            <p class="lead text-gray-800 mb-5" th:text="${error}"></p>
            timestamp : <p class="text-gray-500 mb-0" th:text="${timestamp}"></p>
            status : <p class="text-gray-500 mb-0" th:text="${status}"></p>
            message : <p class="text-gray-500 mb-0" th:text="${message}"></p>
            exception : <p class="text-gray-500 mb-0" th:text="${exception}"></p>
            trace : <p class="text-gray-500 mb-0" th:text="${trace}"></p>
            <a href="index.html">&larr; Back to Dashboard</a>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
</body>

</html>