<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="~{layout/default_layout}"
>    
<head>
	<meta charset="UTF-8" />
	<title>settings-env</title>
</head>
<!-- 
	<div id="default">
		<form layout:fragment="content">
		    <div class="form-group"><label for="exampleFormControlInput1">Email address</label><input class="form-control" id="exampleFormControlInput1" type="email" placeholder="name@example.com"></div>
		    <div class="form-group">
		        <label for="exampleFormControlSelect1">Example select</label><select class="form-control" id="exampleFormControlSelect1">
		            <option>1</option>
		            <option>2</option>
		            <option>3</option>
		            <option>4</option>
		            <option>5</option>
		        </select>
		    </div>
		    <div class="form-group">
		        <label for="exampleFormControlSelect2">Example multiple select</label><select class="form-control" id="exampleFormControlSelect2" multiple="">
		            <option>1</option>
		            <option>2</option>
		            <option>3</option>
		            <option>4</option>
		            <option>5</option>
		        </select>
		    </div>
		    <div class="form-group"><label for="exampleFormControlTextarea1">Example textarea</label><textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea></div>
		</form>
	</div>
-->
					<div class="container mt-n10" layout:fragment="content">
                        <div class="row">
                            <div class="col-lg-9">
                                <!-- Default Bootstrap Form Controls-->
                                <div id="default">
                                    <div class="card mb-4">
                                        <div class="card-header">환경 설정</div>
                                        <div class="card-body">
                                            <!-- Component Preview-->
                                            <div class="sbp-preview">
                                                <div class="sbp-preview-content">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="formControlInput">URL</label>
                                                            <input class="form-control" id="formControlInput" type="input" placeholder="http://ecm.inzent.com">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleFormControlSelect1">Example select</label>
                                                            <select class="form-control" id="exampleFormControlSelect1">
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleFormControlSelect2">Example multiple select</label>
                                                            <select class="form-control" id="exampleFormControlSelect2" multiple="">
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleFormControlTextarea1">Example textarea</label>
                                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Solid Form Controls-->
                                <div id="solid">
                                    <div class="card mb-4">
                                        <div class="card-header">Custom Solid Form Controls</div>
                                        <div class="card-body">
                                            <!-- Component Preview-->
                                            <div class="sbp-preview">
                                                <div class="sbp-preview-content">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="exampleFormControlInput1">Email address</label>
                                                            <input class="form-control form-control-solid" id="exampleFormControlInput1" type="email" placeholder="name@example.com">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleFormControlSelect1">Example select</label>
                                                            <select class="form-control form-control-solid" id="exampleFormControlSelect1">
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleFormControlSelect2">Example multiple select</label>
                                                            <select class="form-control form-control-solid" id="exampleFormControlSelect2" multiple="">
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleFormControlTextarea1">Example textarea</label>
                                                            <textarea class="form-control form-control-solid" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Custom Checkboxes and Radio-->
                                <div id="checkbox">
                                    <div class="card mb-4">
                                        <div class="card-header">Custom Checkboxes &amp; Radio</div>
                                        <div class="card-body">
                                            <h6 class="small text-muted font-weight-500">Bootstrap Custom Checkboxes:</h6>
                                            <div class="sbp-preview mb-4">
                                                <div class="sbp-preview-content">
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" id="customCheck1" type="checkbox">
                                                        <label class="custom-control-label" for="customCheck1">Custom Checkbox 1</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" id="customCheck2" type="checkbox">
                                                        <label class="custom-control-label" for="customCheck2">Custom Checkbox 2</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" id="customCheck3" type="checkbox" disabled="">
                                                        <label class="custom-control-label" for="customCheck3">Custom Checkbox (Disabled)</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6 class="small text-muted font-weight-500">Bootstrap Custom Radio:</h6>
                                            <!-- Component Preview-->
                                            <div class="sbp-preview">
                                                <div class="sbp-preview-content">
                                                    <div class="custom-control custom-radio">
                                                        <input class="custom-control-input" id="customRadio1" type="radio" name="customRadio">
                                                        <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input class="custom-control-input" id="customRadio2" type="radio" name="customRadio">
                                                        <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input class="custom-control-input" id="customRadio3" type="radio" name="customRadio" disabled="">
                                                        <label class="custom-control-label" for="customRadio3">This radio is disabled</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Solid Checkbox and Radio Styling-->
                                <div id="checkboxSolid">
                                    <div class="card mb-4">
                                        <div class="card-header">Solid Checkboxes &amp; Radio</div>
                                        <div class="card-body">
                                            <h6 class="small text-muted font-weight-500">Custom Solid Checkboxes:</h6>
                                            <div class="sbp-preview mb-4">
                                                <div class="sbp-preview-content">
                                                    <div class="custom-control custom-checkbox custom-control-solid">
                                                        <input class="custom-control-input" id="customCheckSolid1" type="checkbox">
                                                        <label class="custom-control-label" for="customCheckSolid1">Custom Checkbox 1</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox custom-control-solid">
                                                        <input class="custom-control-input" id="customCheckSolid2" type="checkbox">
                                                        <label class="custom-control-label" for="customCheckSolid2">Custom Checkbox 2</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox custom-control-solid">
                                                        <input class="custom-control-input" id="customCheckSolid3" type="checkbox" disabled="">
                                                        <label class="custom-control-label" for="customCheckSolid3">Custom Checkbox (Disabled)</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6 class="small text-muted font-weight-500">Custom Solid Radio:</h6>
                                            <!-- Component Preview-->
                                            <div class="sbp-preview">
                                                <div class="sbp-preview-content">
                                                    <div class="custom-control custom-radio custom-control-solid">
                                                        <input class="custom-control-input" id="customRadioSolid1" type="radio" name="customRadioSolid">
                                                        <label class="custom-control-label" for="customRadioSolid1">Toggle this custom radio</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-solid">
                                                        <input class="custom-control-input" id="customRadioSolid2" type="radio" name="customRadioSolid">
                                                        <label class="custom-control-label" for="customRadioSolid2">Or toggle this other custom radio</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-solid">
                                                        <input class="custom-control-input" id="customRadioSolid3" type="radio" name="customRadioSolid" disabled="">
                                                        <label class="custom-control-label" for="customRadioSolid3">This radio is disabled</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Joined Input Groups-->
                                <div id="inputGroupJoined">
                                    <div class="card mb-4">
                                        <div class="card-header">Joined Input Group</div>
                                        <div class="card-body">
                                            <div class="sbp-preview mb-4">
                                                <div class="sbp-preview-content">
                                                    <!-- Joined input group append example-->
                                                    <div class="input-group input-group-joined mb-4">
                                                        <input class="form-control" type="text" placeholder="Input group append..." aria-label="Search">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></span>
                                                        </div>
                                                    </div>
                                                    <!-- Joined input group prepend example-->
                                                    <div class="input-group input-group-joined mb-4">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></span>
                                                        </div>
                                                        <input class="form-control" type="text" placeholder="Input group prepend..." aria-label="Search">
                                                    </div>
                                                    <!-- Joined input group solid append example-->
                                                    <div class="input-group input-group-joined input-group-solid mb-4">
                                                        <input class="form-control" type="text" placeholder="Input group append..." aria-label="Search">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></span>
                                                        </div>
                                                    </div>
                                                    <!-- Joined input group solid prepend example-->
                                                    <div class="input-group input-group-joined input-group-solid">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></span>
                                                        </div>
                                                        <input class="form-control" type="text" placeholder="Input group prepend..." aria-label="Search">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Date Range Picker-->
                                <div id="dateRangePicker">
                                    <div class="card card-header-actions mb-4">
                                        <div class="card-header">
                                            Date Range Picker
                                            <span class="badge badge-warning-soft text-warning">Plugin</span>
                                        </div>
                                        <div class="card-body">
                                            <div class="sbp-preview mb-4">
                                                <div class="sbp-preview-content">
                                                    <!-- Date Range Picker Example-->
                                                    <button class="btn btn-light btn-sm line-height-normal p-3" id="reportrange">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar mr-2 text-primary"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                                        <span>July 6, 2020 - August 4, 2020</span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down ml-1"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
	<th:block layout:fragment="custom_js">		
		<!-- Page level custom scripts -->
		<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}" ></script>
		<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}" ></script>
	</th:block>
</body>

</html>
